/* ----- Reset CSS ----- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

/* ----- Border box Reset ----- */

*, *:before, *:after {
    box-sizing: border-box;
  }

/* ----- Global Rules ----- */

:root {
    --main-blue: #5cadd3;
    --header-height: 12vh;
    --section-height: 88vh;
}

/* ----- Font Settings ----- */

html {    /* 1rem = 10px */
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: #65696e;
  }

body {
    font-size: 1.35rem;
    line-height: 1.6;
  }

h1 {
    font-size: 3.6rem;
  }

h2 {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 900;
    color: black;
    padding-top: 1.5rem;
  }

h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
  }

h2, .slogan h1 {
    text-transform: uppercase;
}

.sub {
    text-align: center;
    max-width: calc((100vw / 2) - 12%);
    margin: 0 auto;
}


  /* ----- Misc. Rules ----- */

#home, #services, #portfolio, #contact {
    min-height: var(--section-height);
}

#home-top, #services-top, #portfolio-top, #contact-top {
    display: block;
    position: relative;
    top: calc(-1 * var(--header-height));
    visibility: hidden;
}
  
img, iframe {
      width: 100%;
  }

strong {
    font-weight: 700;
    font-size: 1.5rem;
}


  /* ----- Header ----- */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 23rem;
    z-index: 10;
}

.logo {
    width: initial;
    height: 100%;
    min-height: 30px;
}

.menu {
    display: inline;
}

.menu input[type="radio"] {
    display: none;
}

.menu label {
    padding: 0 1rem;
  }

.menu label:hover, .menu input[type="radio"]:checked + label {
    padding-top: 3.5rem;
    border-top: solid 3px var(--main-blue);
    cursor: pointer;
    color: black;
}

  /* ----- S1 - Homepage ----- */ 

#home input[type="radio"] {
    display: none;
}

#slider-text {
    position: relative;
    margin-top: var(--header-height);
}

#inner-slider {
    width: 100%;
    overflow: hidden;
}

#slider-text .slides-images {
    width: 500%;
    transition: all 1000ms ease-in-out;
}

#slider-text .slides-images div {
    width: 20%;
    display: block;
    float: left;
}

.slides-images article img {
    width: 100%;
}

#slide1:checked ~ #slider-text .slides-images {
    margin-left: 0;
}

#slide2:checked ~ #slider-text .slides-images {
    margin-left: -100%;
}

#slider-commands {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: white;
    z-index: 2;
}

#slider-commands .fa-chevron-left:hover, #slider-commands .fa-chevron-right:hover {
    cursor: pointer;
    color: white;
}

#slider-commands .fas {
    height: 70px;
    width: 35px;
    background: rgba(0, 0, 0, 0.15)
}

#slider-commands .fa-chevron-left {
    border-radius: 0 35px 35px 0;
    padding: 2.5rem 0 0 0.8rem;
    color: rgba(255, 255, 255, 0.7);
}

#slider-commands .fa-chevron-right {
    border-radius: 35px 0 0 35px;
    padding: 2.5rem 0 0 1.4rem;
    color: rgba(255, 255, 255, 0.7);
}

.slogan {
    position: absolute;
    top: 49%;
    transform: translate(0, -50%);
    left: 14%;
    max-width: calc((100vw /2) - 14%);
    font-weight: 500;
    line-height: 1;
    color: white;
    z-index: 2;
}

.slogan h1 {
    font-weight: 900;
    padding-bottom: 1.5rem;
}

.slogan span {
    color: var(--main-blue);
}

.slogan .catchphrase {
    margin-bottom: 4rem;
}

.slogan a {
    position: relative;
    color: inherit;
    font-size: 1.7rem;
    text-decoration: none;
    padding: 1.1rem 1.4rem;
    background: var(--main-blue);
    border-radius: 3px;
    border-bottom: solid 3px #4494bb;
}

.slogan a:active {
    top: 3px;
    border-bottom: none;
}

.edge-border {
    position: absolute;
    bottom: 6px;
    width: 100%;
    height: 4px;
    background: rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.edge-border-blue {
    position: absolute;
    bottom: 6px;
    height: 4px;
    background: var(--main-blue);
    z-index: 3;
    /* animation: 2s linear 1s progress forwards; */
}

.edge-border-blue-rev {
    position: absolute;
    bottom: 6px;
    height: 4px;
    background: var(--main-blue);
    z-index: 3;
    /* animation: 2s linear 1s progress-rev forwards; */
}

#bluebar:target {
    animation: 4s linear 0.5s progress forwards;
}

#bluebar-rev:target {
    animation: 4s linear 0.5s progress-rev forwards;
}

@keyframes progress {
    from { 
        width: 0%;
     }
    to   {
        width: 100%;
    }
  }

@keyframes progress-rev {
    from { 
        margin-left: 100%;
        width: 0%;
     }
    to   {
        margin-left: 0%;
        width: 100%;
    }
  }

  /* ----- S2 - Services ----- */

.subdot {
    position: relative;
    text-align: center;
    padding-bottom: 1.5rem;
    z-index: 1;
}

.subdot .fa-circle {
    position: relative;
    color: var(--main-blue);
    border: solid 5px white;
    border-radius: 100%;
}

.subdot .fa-circle:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 1px;
    background: #ebebeb;
    z-index: -1;
}

.serv-body {
    display: flex;
    justify-content: space-between;
    margin: 5rem auto;
}

.services-bg {
    width: initial;
    height: 100%;
    margin-left: 16%;
    margin-right: 9%;
}

.serv-section {
    padding-top: 5rem;
}

.serv-details {
    display: flex;
    margin: 2rem auto;
    margin-right: 25%;
    max-width: calc((100vw / 2) - 20%);
}

.serv-details .icon {
    position: relative;
    height: 65.6px;
}

.serv-details .fa-chart-line, .serv-details .fa-cubes, .serv-details .fa-chart-pie {
    
    color: var(--main-blue);
    font-size: 2.8rem;
    padding: 1.7rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
}

.serv-details .fa-circle {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 84%;
    color: var(--main-blue);
    font-size: 1.2rem;
    border: solid 4px white;
    border-radius: 100%;
}

.serv-text {
    text-align: justify;
    margin: 0 3rem;
}

/* ----- S3 - Portfolio ----- */

#portfolio {
    background: #f5f5f5;
    padding-bottom: 5rem;
}

#portfolio input[type="radio"] {
    display: none;
}

.filters {
    text-align: center;
    margin: 7rem 0;
  }
  
.filters li {
    display: inline;
  }
  
.filters label {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    padding: 1.2rem 1.5rem 1rem 1.5rem;
    background: #e5e5e5;
    border-bottom: solid 3px transparent;
  }

.filters .left {
    border-radius: 3px 0 0 3px;
}

.filters .right {
    border-radius: 0 3px 3px 0; 
}
  
.filters label:hover {
    position: relative;
    background: var(--main-blue);
    color: white;
    font-weight: 500;
    border-bottom: solid 3px #468cad;
    cursor: pointer;
  }

.filters label:hover:after {
    content:"";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: solid 10px #468cad;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

  .posts {
    margin: 0 10%;
    display: grid;
    grid-gap: 2.8rem 3.5rem;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .posts figure {
      position: relative;
  }

 .posts figcaption {
    position: absolute;
    display: none;
    width: 100%;
    height: 33%;
    bottom: 0.6rem;
    left: 0;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.posts .post:hover figcaption {
    display: block;
    z-index: 2;
}

.posts .fa-eye {
    position: absolute;
    top: -2rem;
    right: 1rem;
    font-size: 1.3rem;
    padding: 1.3rem;
    background: #4693b1;
    border: solid 2px white;
    border-radius: 100%;
}
  
  [value="all-proj"]:checked ~ .filters [for="all-proj"],
  [value="crea-proj"]:checked ~ .filters [for="crea-proj"],
  [value="corp-proj"]:checked ~ .filters [for="corp-proj"],
  [value="port-proj"]:checked ~ .filters [for="port-proj"] {
    position: relative;
    background: var(--main-blue);
    color: white;
    font-weight: 500;
    border-bottom: solid 3px #468cad;
  }

  [value="all-proj"]:checked ~ .filters [for="all-proj"]:after,
  [value="crea-proj"]:checked ~ .filters [for="crea-proj"]:after,
  [value="corp-proj"]:checked ~ .filters [for="corp-proj"]:after,
  [value="port-proj"]:checked ~ .filters [for="port-proj"]:after  {
    content:"";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: solid 10px #468cad;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
  }
  
  [value="all-proj"]:checked ~ .posts [data-category] {
    display: block;
  }
  
  [value="crea-proj"]:checked ~ .posts .post:not([data-category~="crea-proj"]),
  [value="corp-proj"]:checked ~ .posts .post:not([data-category~="corp-proj"]),
  [value="port-proj"]:checked ~ .posts .post:not([data-category~="port-proj"]) {
    display: none;
  }

/* ----- S4 - Contact ----- */

#contact {
    background: rgba(92, 173, 211, 0.45);
    position: relative;
}

#contact iframe {
    height: 88vh;
    mix-blend-mode: soft-light;
}

.contact-info {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 10rem;
    width: 320px;
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem 1.8rem 3.5rem 1.8rem;
    line-height: 1.2;
    z-index: 2;
}

.contact-info h3 {
    padding: 1rem 0;
}

.contact-text {
    font-size: 1.35rem;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.contact-text strong {
    font-size: 1.4rem;
}

.contact-text abbr {
    
}

.contact-form input, .contact-form textarea {
    width: 100%;
    font-family: inherit;
    color: inherit;
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0.6rem auto;
    padding: 0.76rem 0.8rem;
    border: solid 1px #dfe1e2;
    border-radius: 3px;
}

.contact-form textarea {
    margin-bottom: 3rem;
}

.contact-info a {
    position: relative;
    color: white;
    font-weight: 500;
    text-decoration: none;
    padding: 0.9rem 1.2rem;
    background: var(--main-blue);
    border-radius: 3px;
    border-bottom: solid 3px #4494bb;
}

.contact-info a:active {
    top: 3px;
    border-bottom: none;
}



/* @media all and (max-width: 1150px) {
    :root {
        --header-height: 8vh;
        --section-height: 43vh;
    }

    header {
        padding: 0.5rem 7rem;
    }  

}

@media all and (max-width: 768px) {
    :root {
        --header-height: 7vh;
        --section-height: 31vh;
    }

    h1 {
        font-size: 3.2rem;
    }
    
    .logo {
        height: 75%;        
    }

    .menu label:hover, .menu input[type="radio"]:checked + label {
        padding-top: 1.8rem;
    }

    .slogan {
        top: 45%;
        left: 8%;
        max-width: calc((100vw /2));
    }

    .slogan a {
        left: 33%;
    }

    .serv-body {
    
    }
}

@media all and (max-width: 320px) {
    :root {
        --header-height: 5vh;
        --section-height: 20vh;
    }
} */